
# The primary language of this repl
language = "python3"

# The main file, which will be shown by default in the editor
entrypoint = "src/Missions.py"

# A list of globs that specify which files and directories should be hidden in the workspace
hidden = [".pythonlibs"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["python3", "src/Missions.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 5534134
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 src/Missions.py"
