entrypoint = "main.py"  # use your actual main file

[workflows]
runButton = "main"

[[workflows.workflow]]
name = "main"
mode = "sequential"
author = 5534134

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 src/main.py"
