entrypoint = "main.py"  # use your actual main file

[workflows]
runButton = "Run Main"

[[workflows.workflow]]
name = "Run Main"
author = 5534134
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 src/main.py"
